<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%%= link_to "#{t("web-app-theme.list", :default => "List")}", <%= controller_routing_path %>_path  %></li>
      <li><%%= link_to "#{t("web-app-theme.new", :default => "New")}", new_<%= singular_controller_routing_path %>_path %></li>
    </ul>
  </div>
  <% if options[:removeall] %><%%= form_tag({ :action => :lote},:id => "formlote") -%><%end%>
  <div class="content">
    <h2 class="title"><a name="listagem"><%%= t("web-app-theme.all", :default => "All")  %> <b><%= plural_model_name %></b></a></h2>
    <div class="inner" id="conteudo">
      <%%= render :partial => "listagem" %>
    </div>
  <% if options[:removeall] %>
      <div class="dbotao">
        <button id="apagarlote" class="button" type="submit" name="commit" value="Apagar">
           <%%= image_tag("web-app-theme/bin_empty.png", :alt => "Apagar lote") %> <%%= t("web-app-theme.destroy", :default => "Apagar lote") %>
        </button>
      </div>
    </div>
  </form>
  <%end%>
</div>

<%% content_for :sidebar, render(:partial => 'sidebar') -%>

